@page "/board/delete/{boardId:int}"

@using Microsoft.AspNetCore.Components.Forms;

@if (boardDto != null)
{
    <EditForm Model="boardDto" OnValidSubmit="DeleteBoard">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div>
            Are you sure you want to delete board @boardDto.Name?
        </div>

        <button type="submit" class="btn btn-danger">Delete</button>
    </EditForm>
}
else
{
    <p>Loading...</p>
}