@using Shared.Models;

@page "/workspaces"

<h3>Workspaces</h3>

<div class="row">
    <div class="col-sm-12">
        <i class="fa fa-plus" @onclick="() => CreateWorkspace()"></i>
        <table class="table">
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody>
                @{
                    if (workspaces != null)
                    {
                        foreach (WorkspaceDto workspace in workspaces)
                        {
                            <tr @onclick="() => NavigateToBoards(workspace.Id)">
                                <td><i class="fa fa-pen" @onclick="() => EditWorkspace(workspace.Id)"></i></td>
                                <td><i class="fa fa-trash" @onclick="() => DeleteWorkspace(workspace.Id)"></i></td>
                                <td>@workspace.Name</td>
                            </tr>
                        }
                    }
                }
            </tbody>
        </table>
    </div>
</div>