@using Shared.Models;

@page "/workspaces"

<h3>Workspaces</h3>

<div class="row">
    <div class="col-sm-12">
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody>
                @{
                    if (workspaces != null)
                    {
                        foreach (WorkspaceDto workspace in workspaces)
                        {
                            <tr>
                                <td>@workspace.Id</td>
                                <td>@workspace.Name</td>
                            </tr>
                        }
                    }
                }
            </tbody>
        </table>
    </div>
</div>