@page "/cards/{boardId:int}"
@using Shared.Models

<h3>Cards</h3>

<div class="row">
    <div class="col-sm-12">
        <i class="fa fa-plus" @onclick="() => CreateCard()"></i>
        <table class="table">
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th>Title</th>
                </tr>
            </thead>
            <tbody>
                @if (cards != null)
                {
                    foreach (CardDto card in cards)
                    {
                        <tr>
                            <td><i class="fa fa-pen" @onclick="() => EditCard(card.Id)"></i></td>
                            <td><i class="fa fa-trash" @onclick="() => DeleteCard(card.Id)"></i></td>
                            <td>@card.Title</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>